* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.foto_perfil {
    /* margin-right: 20px; */
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.posicao_foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.input {
    height: 6vh;
    /* margin-top: 2vw; */
    width: 20vw;
    border-radius: 20vw;
    font-size: 1vw;
    color: white;
    background-color: #3D8DF2;
    border: none;
    padding: 15px;
    font-size: 16px;
    position: absolut;
    margin-top: 3vw;
}

.input_container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 150px;
}

.container_adm {
    background-color: #2E2E2E;
    height: 850px;
}

.btn_cadastro {
    height: 6vh;
    margin-top: 4vw;
    width: 20vw;
    border-radius: 20vw;
    font-size: 1.5vw;
    color: white;
    background-color: #3D8DF2;
    border: none;
}

.btn_excluir {
    height: 6vh;
    margin-top: 4vw;
    width: 20vw;
    border-radius: 20vw;
    font-size: 1.5vw;
    color: white;
    background-color: red;
    border: none;
}

.display{
    display: flex;
    justify-content: space-between;
    margin-left: 500px;

}